<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="btn"><a href="www.kumaran.com" class="nav navbar-brand">VINAY</a> </div>
      
      <ul class="nav nav-bar" style="padding-left: 1200px;">
        <a routerLink="register" class="btn btn-primary">Register</a>
      
      </ul>
    
    
      <ul class="nav nav-bar" style="padding-left:10px ;">
        <a routerLink="login" class="btn btn-success">Login</a>
      </ul>
      
      
      
  </nav>
</header>
<router-outlet></router-outlet>
</body>