<body>
<div class="container col-md-6">
    <h1 class="primary" style="color:rgb(0, 94, 128) ;padding-left:180px;">Login Page</h1>
    <form class="col-8" (ngSubmit)="userLogin()" ngForm #f="ngForm">
      <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="text" [(ngModel)]="user.email" 
              class="form-control" id="username" 
              placeholder="Enter The User Name" name="userName"
              ngModel
              required
              #email="ngModel"
               >
               <span class="help-block" *ngIf="!email.valid && email.touched">please enter valid user name</span>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" [(ngModel)]="user.password" 
              class="form-control" id="password" 
              placeholder="Enter The User Name" name="password" 
              ngModel
              required
              #password="ngModel">
              <span class="help-block" *ngIf="!password.valid && password.touched">please enter valid password</span>
          </div> 

          <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    
</div>
</body>
